<div class='card'>
    <div class='card-body'>
        <div class="spacer">
            <div class="row">
                <div class="col-md-2">Filter by: </div>
                <div class="col-md-4">
                    <input type="text"
                    [(ngModel)]="inputString" />
                </div>
            </div>
        </div>
        <div class="table-responsive spacer">
            <table class="table table-striped table-bordered table-hover" *ngIf="roster.characters.length">
                <thead>
                    <tr>
                        <th>Pic</th>
                        <th>Handle</th>
                        <th>Name</th>
                        <th>Main</th>
                        <th>Secondary</th>
                        <th>ELO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of filteredCharacters" [class.selectedRow]="rowIsSelected(c)" (click)="onRowClick(c)" style="cursor: pointer;">
                        <td>
                            <img 
                                [src]="c.pics[0]" 
                                [title]="c.handle" 
                                [style.width.px]="imageWidth" 
                                [style.margin.px]="imageMargin">
                        </td>
                        <td>
                            <a [routerLink]="['/detail', c.id]">
                                {{c.handle}}
                            </a>
                        </td>
                        <td>{{c.firstName}} {{c.lastName}}</td>
                        <td>{{c.main}}</td>
                        <td>{{c.secondary}}</td>
                        <td>{{c.elo}}</td>
                        <td>
                            <button (click)="deleteCharacter(c.id)" class="btn btn-outline-danger">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-filedownloaderclient></app-filedownloaderclient>
        </div>
    </div>
</div>