<div class="card">
    <div class="card-body">
        <form [formGroup]="creationForm" enctype="multipart/form-data" (ngSubmit)="onSubmit(creationForm.value)">
            <div>
                <label for="handle">Handle</label><br/>
                <input id="handle" type="text" formControlName="handle">
            </div>
            <div>
                <label for="firstName">First Name</label><br/>
                <input id="firstName" type="text" formControlName="firstName">
            </div>
            <div>
                <label for="lastName">Last Name</label><br/>
                <input id="lastName" type="text" formControlName="lastName">
            </div>
            <div>
                <label for="main">Main</label><br/>
                <input id="main" type="text" formControlName="main">
            </div>
            <div>
                <label for="secondary">Secondary</label><br/>
                <input id="secondary" type="text" formControlName="secondary">
            </div>
            <div>
                <label for="elo">ELO</label><br/>
                <input id="elo" type="text" formControlName="elo">
            </div>
            <!-- <div>
                <label for="pic">Pic</label><br/>
                <input id="pic" type="file" formControlName="pic" (change)="onFileSelected($event)" accept="*.png.jpg">
            </div> -->
            <div class="dropzone" appDnD>
                <input type="file" formControlName="pics" #fileDropRef id="fileDropRef" multiple (change)="onFileSelected($event)" accept="*.png.jpg">
                <h3>Drag and Drop Images Here</h3>
                <h3>or</h3>
                <label for="fileDropRef">Browse For File</label>
            </div>
            <br/>
            <button class="btn btn-outline-primary" type="submit"> Submit </button>
          </form>
    </div>
</div>